In [11]:
import numpy as np
import pandas as pd

In [12]:
pd.set_option('display.max_columns', None)
music = pd.read_csv('/Users/Hector_Martin/Documents/Labs/music_recommender_project/data/EvolutionPopUSA_MainData.csv')
#music.head()

In [13]:
nothotsongs = music.sample(frac=0.3, replace=False, random_state=1)
nothotsongs = nothotsongs[['artist_name', 'track_name']]
nothotsongs

                         artist_name              track_name
4614                  Michael Bolton      Georgia On My Mind
12993                   Cypress Hill     Insane In The Brain
9999               The Boomtown Rats    I Don't Like Mondays
7081                    Night Ranger                 Goodbye
1806                    Stevie Nicks           Rooms On Fire
...                              ...                     ...
7440             Natasha Bedingfield                   Angel
5856                    The Supremes  Automatically Sunshine
15036                  The Fireballs        Vaquero (Cowboy)
16082                     Jim Reeves            The Blizzard
16334  OutKast Featuring Killer Mike         The Whole World

[5128 rows x 2 columns]

In [16]:
nothotsongs = nothotsongs.rename(columns={'artist_name':'artists',
                            'track_name':'songs', })
nothotsongs = nothotsongs[['songs', 'artists']]

In [17]:
nothotsongs

                        songs                        artists
4614       Georgia On My Mind                 Michael Bolton
12993     Insane In The Brain                   Cypress Hill
9999     I Don't Like Mondays              The Boomtown Rats
7081                  Goodbye                   Night Ranger
1806            Rooms On Fire                   Stevie Nicks
...                       ...                            ...
7440                    Angel            Natasha Bedingfield
5856   Automatically Sunshine                   The Supremes
15036        Vaquero (Cowboy)                  The Fireballs
16082            The Blizzard                     Jim Reeves
16334         The Whole World  OutKast Featuring Killer Mike

[5128 rows x 2 columns]

In [18]:
nothotsongs.to_csv("nothotsongs.csv", index=False)